HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.env
.idea
*.iws
*.iml
*.ipr

### NetBeans ###

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ==============================
# FRONTEND
# ==============================
frontend/node_modules/
frontend/dist/

# ==============================
# PYTHON / DL MODEL
# ==============================
dl-model/venv/
dl-model/dataset/
dl-model/__pycache__/
dl-model/*.h5
dl-model/*.keras
dl-model/*.pt
dl-model/*.pth

# ==============================
# PYTHON CACHE
# ==============================
*.pyc
__pycache__/

# ==============================
# ENV FILES
# ==============================
.env

### VS Code ###
.vscode/
